extends ../layout

block content
    form(action=""  method="post")
        select(name="students" multiple="multiple" data-placeholder="choose students")
            option(value="5a2fe9f12ca0751070b4901f") rev
            option(value="5a3064360bd00c18ecd891dd") rev2
        input(type="submit", value="ok")