extends ../layout

block content
  section.container-fluid
      h1 Subjects
      button.btn.btn-primary(data-toggle="modal" data-target="#myModal") new subject
      .box
        .box-body 
          table.table.table-hover()
            tbody
                th name
                th hours
                th department(s)
                th options
            if subjects.length > 0
              each subject in subjects
                tr
                  td #{subject.name}
                  td #{subject.hours}
                  td 
                    each department in subject.department
                      | #{department.name}
                  td delete | edit

  #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") ×
            h4#myModalLabel.modal-title Create new subject
          .modal-body
            form(method="post")
              .form-group
                input.form-control(type="text" placeholder="create a new tag" name="name")
                input.form-control(type="text" placeholder="hours" name="hours")
                input.form-control.btn.btn-primary(type="submit")
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
