block friends
  aside.control-sidebar.control-sidebar-dark
        // Tab panes
        .tab-content
          // Home tab content
          #control-sidebar-home-tab.tab-pane.active
            ul.control-sidebar-menu
              li
                a(href="javascript:;")
                  i.menu-icon.fa.fa-user.bg-green
                  .menu-info
                    h4.control-sidebar-subheading user 
                    p Active now
            ul.control-sidebar-menu
              li
                a(href="javascript:;")
                  i.menu-icon.fa.fa-user.bg-green
                  .menu-info
                    h4.control-sidebar-subheading user 
                    p Active now
            ul.control-sidebar-menu
              li
                a(href="javascript:;")
                  i.menu-icon.fa.fa-user.bg-red
                  .menu-info
                    h4.control-sidebar-subheading user 
                    p Don't disturb me
            ul.control-sidebar-menu
              li
                a(href="javascript:;")
                  i.menu-icon.fa.fa-user.bg-yellow
                  .menu-info
                    h4.control-sidebar-subheading user 
                    p Idle
            ul.control-sidebar-menu
              li
                a(href="javascript:;")
                  i.menu-icon.fa.fa-user.bg-green
                  .menu-info
                    h4.control-sidebar-subheading user 
                    p Active now
            
          // /.tab-pane
        // /.control-sidebar