block side_nav
  aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // Sidebar user panel (optional)
          .user-panel
            .pull-left.image
              img.img-circle(src="/dist/img/user2-160x160.jpg", alt="User Image")
            .pull-left.info
              p #{user.name}
              // Status
              a(href="#")
                i.fa.fa-circle.text-success
                |  Online
          // search form (Optional)
          form.sidebar-form(action="/search")
            .input-group
              input.form-control(type="text", name="q", placeholder="Search...")
              span.input-group-btn
                button#search-btn.btn.btn-flat(type="submit")
                  i.fa.fa-search
          // /.search form
          // Sidebar Menu
          ul.sidebar-menu(data-widget="tree")
            li.header Menu
            // Optionally, you can add icons to the links
            li.treeview
              a(href="/admin")
                i.fa.fa-link
                span Admin
                span.pull-right-container
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href="/admin/students") students
                  li
                    a(href="/admin/teachers") teachers
                  li
                    a(href="/tags") tags
            li.active
              a(href="/")
                i.fa.fa-link
                span Home
            li
              a(href="/chat")
                i.fa.fa-link
                span Chat
            li
              a(href="/events")
                i.fa.fa-link
                span Calendar
            li
              a(href="/contact")
                i.fa.fa-link
                span Contact
            li
              a(href="/library")
                i.fa.fa-link
                span Library
            li
              a(href="/courses")
                i.fa.fa-link
                span courses
          // /.sidebar-menu