extends layout

block content
  .container-fluid
    .row
      .col-xs-12.col-md-4
        h2
          a(href="#") book 1
        img(src="http://via.placeholder.com/300x200")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis enim accusamus incidunt molestiae, vitae iste quibusdam vel asperiores ut, sunt quo repudiandae ex minima tempora fugit sapiente!
      .col-xs-12.col-md-4
        h2
          a(href="#") book 2
        img(src="http://via.placeholder.com/300x200")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis enim accusamus incidunt molestiae, vitae iste quibusdam vel asperiores ut, sunt quo repudiandae ex minima tempora fugit sapiente!
      .col-xs-12.col-md-4
        h2
          a(href="#") book 3
        img(src="http://via.placeholder.com/300x200")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis enim accusamus incidunt molestiae, vitae iste quibusdam vel asperiores ut, sunt quo repudiandae ex minima tempora fugit sapiente!
    .row
      .col-xs-12.col-md-4
        h2
          a(href="#") book 4
        img(src="http://via.placeholder.com/300x200")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis enim accusamus incidunt molestiae, vitae iste quibusdam vel asperiores ut, sunt quo repudiandae ex minima tempora fugit sapiente!
      .col-xs-12.col-md-4
        h2
          a(href="#") book 5
        img(src="http://via.placeholder.com/300x200")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis enim accusamus incidunt molestiae, vitae iste quibusdam vel asperiores ut, sunt quo repudiandae ex minima tempora fugit sapiente!
      .col-xs-12.col-md-4
        h2
          a(href="#") book 6
        img(src="http://via.placeholder.com/300x200")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis enim accusamus incidunt molestiae, vitae iste quibusdam vel asperiores ut, sunt quo repudiandae ex minima tempora fugit sapiente!
        