extends layout

block content
  .container-fluid
    h3 chat
    form.message(action="")
      input(type="text" name="message")
      input(type="submit" value="send")

block append js
  script(src="/socket.io/socket.io.js")
  script(src="/js/chat.js")   
