extends layout
include mixins/_post

block content
  // Main content
  section.content.container-fluid
    if locals.flashes
      .container
        - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .alert.alert-danger
                p= message
    .col-md-8.col-md-offset-2
      .box.box-info
        .box-header
          .box-title Write Something
          .pull-right.box-tools
            a.btn.btn-sm(href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target='_blank') markdown code
            button.btn.btn-sm.btn-info(data-toggle="tooltip" data-widget="collapse" title="collapse")
              i.fa.fa-minus
        .box-body.pad
          form(method="post")
            .form-group
              textarea.form-control(name="text" rows="5" cols="40")
            .form-group
              select.form-control.select2(multiple="multiple" data-placeholder='select a tag' 
              name="tags")
                each tag in tags
                  option(name='tags' id=tag._id) #{tag._id}
            .form-group
              input.form-control.btn.btn-primary(type='submit' value='post')
      .feed
        if posts
          -var time
          each post in posts
            - time = h.moment(post.createdAt).fromNow()
            +post(post)
  
block append js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.7/marked.min.js")
  script(src="/select2/dist/js/select2.full.min.js")
  script.
    $(function () {
      $('.markdown-content').each(function(){
        var post = $(this).text();
        var markedpost = marked(post);
        $(this).html(markedpost);
      });
      $('.select2').select2();
    });
  script(src="/js/reaction.js")
  script(src="https://unpkg.com/axios/dist/axios.min.js")