extends layout

block content
	.col-md-6
		form(method="post")
			.form-group
			label(for='email') email:
			input.form-control(type='email' name='email' value=user.email)
			.form-group
			label(for='name') name:
			input.form-control(type='text' name='name' value=user.name)
			.form-group
			input.form-control.btn.btn-success(type='submit' value='update')