form(method="post")
	label(for='email') email
	input(type='email' name='email')
	label(for='name') name
	input(type='text' name='name')
	label(for='password') password
	input(type='password' name='password')
	input(type='submit' value='save')