mixin comment(comment)
  .box-footer.box-comments
    .box-comment
      img.img-circle.img-sm(src='dist/img/user3-128x128.jpg')
      .comment-text
        span.username= comment.author.name
          span.text-muted.pull-right few minutes ago
        = comment.content