mixin comment(comments)
  .box-footer.box-comments
    .box-comment
      img.img-circle.img-sm(src='dist/img/user3-128x128.jpg')
      .comment-text
        span.username user
          span.text-muted.pull-right few minutes ago
        | It is a long established fact that a reader will be distracted
        | by the readable content of a page when looking at its layout.
